<html>
  <head>
    <style>
      body
        {
          font-family:verdana;
          font-size:2em;
          color:green;
          background:white;
        }
    </style>  
  </head>
  <body>
    <%= yield %>
  </body>
</html>